<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/homelogada.css"
	th:href="@{/css/homelogada.css}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'
	rel='stylesheet'>
<title>Home</title>
</head>

<body>
	<header class="cabecalho">
		<a href="#" id="question"> <i class="icon"> <box-icon
					name='question-mark' color="#C6C5C5"></box-icon>
		</i> Precisa de ajuda?
		</a> <a href="/login" class="bottom-entre"> <span class="icon"> <box-icon
					name='user' color="#fff"></box-icon><h2 class="name" th:text="${nomeCliente}"></h2>
		</span>
			
		</a> <a href="/" class="bottom-home"> <img id="logo"
			th:src="@{/img/Icon.png}" alt="">
		</a>
		<div class="navigation">
			<ul>
				<li class="list active"><a href="#"> <i class="icon"> <box-icon
								name='bed' color="#00B08B"></box-icon>
					</i>Hospedagem
				</a></li>
				<li class="list"><a href="#"> <i class="icon"> <box-icon
								name='plane-alt' type='solid' color="#C6C5C5"></box-icon>
					</i> Passagens
				</a></li>
				<li class="list"><a href="#"> <i class="icon"> <box-icon
								name='package' color="#C6C5C5"></box-icon>
					</i>Pacotes
				</a></li>
				<li class="list"><a href="#"> <i class="icon"> <box-icon
								name='ship' type='solid' color="#C6C5C5"></box-icon>
					</i>Cruzeiro
				</a></li>
				<li class="list"><a href="#"> <i class="icon"> <box-icon
								name='car' color="#C6C5C5"></box-icon>
					</i>Carros
				</a></li>
				<li class="list"><a href="#"> <i class="icon"></i>Disney
				</a></li>
				<li class="list"><a id="oferta" href="#"> <i class="icon">
							<box-icon type='solid' name='badge-dollar' color="#DD1830"></box-icon>
					</i>Ofertas
				</a></li>
			</ul>
		</div>
	</header>
	<div class="principal">
		<div class="buscar">
			<ul>
				<li class="busque"><a href="#">Todos</a></li>
				<li class="busque"><a href="#">Hotéis</a></li>
				<li class="busque"><a href="#">Aluguéis por temporada</a></li>
			</ul>
			<div class="input">
				<label>Para onde você vai? <input id="cidade" type="text"
					placeholder="Insira uma cidade">
				</label> <label>Ida <input id="ida" type="date"
					placeholder="Entrada">
				</label> <label>Volta <input id="volta" type="date"
					placeholder="Saída">
				</label> <label>Quartos <input id="quartos" type="text">
				</label> <a href="#" class="bottom"> Buscar </a>
			</div>
		</div>
		<div class="lado-esquerdo">
			<i class="icon"> <box-icon name='bed' color="#DD1830"></box-icon>
			</i>
			<h1>Hospedagens em oferta</h1>
			<div class="col-1">
				<div class="image">
					<img th:src="@{/img/unsplash_7F65HDP0-E0.png}" alt="">
				</div>
				<div class="info">
					<h2>Rio de Janeiro</h2>
					<i class="icon"> <box-icon type='solid' name='badge-dollar'
							color="#DD1830" size="lg"></box-icon>
					</i>
					<h5>
						<box-icon class="calendar" name='calendar' color="#757575"></box-icon>
						4 noites
					</h5>
					<h2 class="pacote">Pacotes a partir de</h2>
					<h4 class="preco">R$</h4>
					<h1 class="valor">
						568 <a class="arow" href="#"> <box-icon
								name='right-arrow-circle' type='solid' color="#00B08B" size="md"></box-icon>
						</a>
					</h1>
				</div>
			</div>
			<div class="col-1">
				<div class="image">
					<img th:src="@{/img/unsplash_Gisi_G8CXWI.png}" alt="">
				</div>
				<div class="info">
					<h2>Rio de Janeiro</h2>
					<i class="icon"> <box-icon type='solid' name='badge-dollar'
							color="#DD1830" size="lg"></box-icon>
					</i>
					<h5>
						<box-icon class="calendar" name='calendar' color="#757575"></box-icon>
						4 noites
					</h5>
					<h2 class="pacote">Pacotes a partir de</h2>
					<h4 class="preco">R$</h4>
					<h1 class="valor">
						568 <a class="arow" href="#"> <box-icon
								name='right-arrow-circle' type='solid' color="#00B08B" size="md"></box-icon>
						</a>
					</h1>
				</div>
			</div>
			<div class="col-1">
				<div class="image">
					<img th:src="@{/img/unsplash_tWuni4cYsXs (1).png}" alt="">
				</div>
				<div class="info">
					<h2>Rio de Janeiro</h2>
					<i class="icon"> <box-icon type='solid' name='badge-dollar'
							color="#DD1830" size="lg"></box-icon>
					</i>
					<h5>
						<box-icon class="calendar" name='calendar' color="#757575"></box-icon>
						4 noites
					</h5>
					<h2 class="pacote">Pacotes a partir de</h2>
					<h4 class="preco">R$</h4>
					<h1 class="valor">
						568 <a class="arow" href="#"> <box-icon
								name='right-arrow-circle' type='solid' color="#00B08B" size="md"></box-icon>
						</a>
					</h1>
				</div>
			</div>
		</div>
		<div class="lado-direito">
			<div class="col-InfoCovid">
				<h1>
					<box-icon id="virus" name='virus-block' type='solid' size="md"
						color='#C6C5C5'></box-icon>
					Informação sobre a COVID-19
				</h1>
				<h4>Em nossa central de informações você vai encontrar tudo o
					que é preciso para viajar, remarcar seu voo, documentação e mais.</h4>
				<a href="#" class="requisitos"> <box-icon name='notepad'
						color='#C6C5C5'></box-icon> <span>Requisitos para sua
						viagem</span> <box-icon id="chevron-right" name='chevron-right' size="md"
						color="#00B08B"></box-icon>
				</a>
			</div>

			<div class="acomodacao">
				<h1>Pesquise por tipos de acomodação</h1>
				<div class="item">
					<div class="col-info" id="item-1">
						<h1>Hotéis</h1>
					</div>
					<div class="col-info" id="item-2">
						<h1>Resorts</h1>
					</div>
					<div class="col-info" id="item-3">
						<h1>Hotéis</h1>
					</div>
					<div class="col-info" id="item-4">
						<h1>Resorts</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="rodape"> </footer>
	<script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
	<script>
        const list = document.querySelectorAll('.list');

        function activeLink() {
            list.forEach((item) =>
                item.classList.remove('active'));
            this.classList.add('active')
        }
        list.forEach((item) =>
            item.addEventListener('click', activeLink));
    </script>
	<script>
        const lista = document.querySelectorAll('.busque');

        function activeLink() {
            lista.forEach((item) =>
                item.classList.remove('active'));
            this.classList.add('active')
        }
        lista.forEach((item) =>
            item.addEventListener('click', activeLink));
    </script>
</body>

</html>